*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  min-height: 100%;
  position: relative;
}

.header img{
  width: 150px;
  height: 150px;
  margin: top 20px;
  margin-bottom: 5px;
  margin-left: 0%;
  margin-right: 0%;
}
.navBar ul{
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  font-size: 20px;
  font-family: monospace;
  list-style: none; 
  margin-bottom: 0;  
}

.navBar li a{
  text-decoration: none;
  color: white;
  padding: 0px;
}

.container-fluid{
  text-decoration-color: #ffffff;
  color: #eff3f7;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  font-size: 20px;
  font-family: monospace;
  list-style: none; 
  margin-bottom: 0;
  background-color: #8b7e7eaf;
  text-decoration: #852f24;
  border: #ffffff;
  margin: none;
  margin-top: -10px;
  margin-bottom: -9px;
  background-image: url("../images/FondoNegro.jpg");
  background-repeat:no-repeat ;
  color: rgb(226, 233, 240);
}
.BoxLogo{
  display: inline-block;
}

.BoxLista{
  display: inline-block;
  width: 86%;
}


  body {
    background-image: url("../images/FondoNegro.jpg");
    background-repeat:no-repeat ;
  }

  .fotologo{
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100px;
  }


  .logologo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
p{
  color:aliceblue ;
}
.botoncontacto{
    color: #030608;
    background:transparent;
    border: 2px solid #8b7e7eaf;
    border-radius: 6px;
    font-family: Verdana;
    width: 200px;
    height: auto;
    
}
.botoncontacto{
      
    border: none;
    color: white;
    padding: 4px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    font-family: monospace;
    list-style: none; 
    margin-bottom: 100px; 
}
.botoncontacto{
      background-color: #852f24 ; 
      background: transparent;
      color: rgb(255, 255, 255); 
      border: 3.5px solid #8b7e7eaf;
}
.botoncontacto:hover {
    background-color: #8b7e7eaf;
    color: white;
} 
.botonContactoMedio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
form{
  width: 450px;
  margin:auto;
  background-color: #ebf1f6;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
h2{
color: rgb(219, 215, 215);
text-align: center;
margin: 0;
font-size: 25px;
margin-bottom: 10px;
}
input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

.Fotos{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }
.img1{
  margin-right: 20px;
}
.img2{
  margin-right: 20px;
}
.img3{
margin-right: 200px;
}
.img4{
  margin-right: 20px;
}
.img5{
  margin-right: 20px;
}


.CentrarTexto{
  text-align: center;
}


  
  .textoPrincipal{
    text-align:center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.bottomTienda{
  margin-bottom: 150px;
}

.carousel-item{
  max-height: 470px;
  width: 100px;
}

.imgGaleria{
  height: 450px;
  width: 40%;
}

footer {
  background-color: #8b7e7eaf;
  position:absolute;
  bottom: 0%;
  width: 100%;
  height: 80px;
  color: rgb(226, 233, 240);
  font-family: monospace;
}

.footerContacto{
  width: 100% !important;
}

.BioFoto{
  display: flex;
  margin-top: 100px;
  padding: 25px
}

.TextoBio{
  padding-left: 25px;
  text-align: justify;
  line-height: 2;
}


h1{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ebf1f6;
}
h2{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-group{
margin-top: 20px;
margin-bottom: 100px;
margin-left: 20px;
margin-right: 20px;
}

.card-text{
  color: #030608;
}



.productosMujeres{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: none;
}


.productosNiñas{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: none;
}


.productosMujeres p, .productosNiñas p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.cardMujeres div, .cardNiñas div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardMujeres img, .cardNiñas img {
  width: 250px;
  height: 250px;
  justify-content: center;
  cursor:pointer
}
.cardMujeres img:hover, .cardNiñas img:hover {
  transform: scale(1.2);
}

.productosNiñas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardMujeres div button, .cardNiñas div button {
  width: 90px;
  height: 35px;
  background: rgb(252, 241, 241);
  border: none;
  color: rgba(19, 18, 18, 0.736);
  margin-top: 15px;
  margin-bottom:80px;
}

.cardMujeres div button:hover, .cardNiñas div button:hover {
  transform: translate(2px, 2px);
}


  @media (max-width:768px){
    .navBar{
      width: 100%;
      height: 50%;
      padding: 40px;
      display: grid;
      font-size: 18px;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      border-radius: 10%;
  }
  }

  @media (max-width:576px){
    .navBar{
        width: 100%;
        height: 50%;
        padding: 40px;
        display: grid;
        font-size: 18px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        border-radius: 10%;
    }
  }
  