.Fotos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img1, .img2 {
    margin-right: 20px;
}

.img3 {
    margin-right: 200px;
}

.img4, .img5 {
    margin-right: 20px;
}